<h2>Recherche d'un enseignant sur base de son nom</h2>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar navbar-nav">
    <li>
      <form #f1="ngForm" (ngSubmit)="onSearch(f1.value)">
        <label style="margin-right: 1em;">nom de l'enseignant :</label>
        <input type="text" ngModel name="nom">
        <button class="btn btn-sm btn-outline-info m-lg-2">
          <span class = "fa fa-search"> </span>
        </button>
      </form>
    </li>
    <li>
      <button (click)="onNewEnseignant()" class="btn btn-sm btn-outline-info ms-2">New</button>
    </li>
  </ul>
</nav>


<ng-container *ngIf="enseignants">
  <ng-container *ngIf="enseignants.length>0 else inconnu">
    <table class="table">
      <thead>
      <th>IDENSEIGNANT</th>
      <th>MATRICULE</th>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>TEL</th>
      <th>CHARGESEM</th>
      <th>SALAIREMENSU</th>
      <th>DATEENGAG</th>
      <th>DELETE</th>
      <th>EDIT</th>
      <th>ENQUÊTES</th>
      </thead>
      <tbody>
      <tr *ngFor="let ens of enseignants">
        <td>{{ens.idenseignant}}</td>
        <td>{{ens.matricule}}</td>
        <td>{{ens.nom}}</td>
        <td>{{ens.prenom}}</td>
        <td>{{ens.tel}}</td>
        <td>{{ens.chargesem}}</td>
        <td>{{ens.salairemensu}}</td>
        <td>{{ens.dateengag}}</td>
        <td>
          <button (click)=onDelete(ens) class="btn btn-danger">
            <span class = "fa fa-trash-o"></span>
          </button>
        </td>
        <td>
          <button (click)=onEdit(ens) class="btn btn-danger">
            <span class = "fa fa-edit"></span>
          </button>
        </td>
        <td>
          <button (click)=onEnquete(ens) class="btn btn-danger">
            <span class="fa fa-list"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #inconnu>
    nom inconnu
  </ng-template>
</ng-container>
