
<ng-container *ngIf="infosCours">
  <ng-container *ngIf="infosCours.length>0 else inconnu">

    <table class="table">
      <thead>
      <th>ENSEIGNANTS</th>
      <th>SALLES</th>
      <th>CLASSES</th>
      </thead>
      <tbody>
      <tr *ngFor="let inf of infosCours">

        <td>
          <div *ngIf="inf.enseignant">
            idenseignant : {{inf.enseignant.idenseignant}}<br>
            matricule : {{inf.enseignant.matricule}}<br>
            nom : {{inf.enseignant.nom}}<br>
            prenom : {{inf.enseignant.prenom}}<br>
            tel : {{inf.enseignant.tel}}<br>
            chargesem : {{inf.enseignant.chargesem}}<br>
            salairemensu : {{inf.enseignant.salairemensu}}<br>
            dateengag : {{inf.enseignant.dateengag}}
          </div>
          <div *ngIf="inf.enseignant==null">
            INCONNU
          </div>
        </td>

        <td>
          <div *ngIf="inf.salle">
            idsalle : {{inf.salle.idsalle}}<br>
            sigle : {{inf.salle.sigle}}<br>
            capacite : {{inf.salle.capacite}}<br>
          </div>
          <div *ngIf="inf.salle==null">
            INCONNU
          </div>
        </td>

        <td>
          <div *ngIf="inf.classe">
            idclasse : {{inf.classe.idclasse}}<br>
            sigle : {{inf.classe.sigle}}<br>
            annee : {{inf.classe.annee}}<br>
            specialite : {{inf.classe.specialite}}<br>
            nbreeleves : {{inf.classe.nbreeleves}}
          </div>
          <div *ngIf="inf.classe==null">
            INCONNU
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </ng-container>
  <ng-template #inconnu>
    INCONNU
  </ng-template>
</ng-container>
