<div class="container">

  <form [formGroup]="coursFormGroup" *ngIf="coursFormGroup">

    <div class = "form-group">
      <label>Idcours</label>
      <input type ="text" class="form-control" value="{{idcours}}" readonly="readonly">
    </div>

    <div class = "form-group">
      <label>Code</label>
      <input type ="text" class="form-control" formControlName="code"
             [ngClass]="{'is-invalid': submitted &&  coursFormGroup.controls.code.errors}">
      <div *ngIf="submitted &&  coursFormGroup.controls.code.errors" class ="invalid-feedback">
        <div *ngIf="coursFormGroup.controls.code.errors.required">
          Code obligatoire
        </div>
      </div>
    </div>

    <div class = "form-group">
      <label>Intitule</label>
      <input type ="text" class="form-control" formControlName="intitule"
             [ngClass]="{'is-invalid': submitted &&  coursFormGroup.controls.intitule.errors}">
      <div *ngIf="submitted &&  coursFormGroup.controls.intitule.errors" class ="invalid-feedback">
        <div *ngIf="coursFormGroup.controls.intitule.errors.required">
          Intitule obligatoire
        </div>
      </div>
    </div>


    <button (click)="onSaveCours()" class="btn btn-success" >
      Save
    </button>
  </form>
</div>

<br>
<br>
<button class="btn btn-dark" >
  <a class="nav-link" routerLink="/cours">Retour</a>
</button>
<br>
<br>
