<form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
  <input ngModel name="idclasse" type="text" >
  <button class="btn btn-sm btn-outline-info m-lg-2">
<span class = "fa fa-search">
</span>
  </button>
</form>


<ng-container *ngIf="classe else inconnu">
    <table class="table">
      <thead>
      <th>IdClient</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>CP</th>
      <th>Localite</th>
      </thead>
      <tbody>
      <tr>
        <td>{{classe.idclasse}}</td>
        <td>{{classe.annee}}</td>
        <td>{{classe.nbreeleves}}</td>
        <td>{{classe.sigle}}</td>
        <td>{{classe.specialite}}</td>
        <td>
          <button class="btn btn-danger">
            <span class = "fa fa-trash-o"></span>
          </button>
        </td>
        <td>
          <button class="btn btn-danger">
            <span class = "fa fa-edit"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #inconnu>
    Nom inconnu
  </ng-template>

