
<ng-container *ngIf="infosClasse">
  <ng-container *ngIf="infosClasse.length>0 else inconnu">

    <table class="table">
      <thead>
      <th>ENSEIGNANTS</th>
      <th>SALLE</th>
      <th>COURS</th>
      </thead>
      <tbody>
      <tr *ngFor="let inf of infosClasse">

        <td>
          <div *ngIf="inf.enseignant">
            idenseignant : {{inf.enseignant.idenseignant}}<br>
            matricule : {{inf.enseignant.matricule}}<br>
            nom : {{inf.enseignant.nom}}<br>
            prenom : {{inf.enseignant.prenom}}<br>
            tel : {{inf.enseignant.tel}}<br>
            chargesem : {{inf.enseignant.chargesem}}<br>
            salairemensu : {{inf.enseignant.salairemensu}}<br>
            dateengag : {{inf.enseignant.dateengag}}
          </div>
          <div *ngIf="inf.enseignant==null">
            INCONNU
          </div>
        </td>

        <td>
          <div *ngIf="inf.salle">
            idsalle : {{inf.salle.idsalle}}<br>
            sigle : {{inf.salle.sigle}}<br>
            capacite : {{inf.salle.capacite}}<br>
          </div>
          <div *ngIf="inf.salle==null">
            INCONNU
          </div>
        </td>

        <td>
          <div *ngIf="inf.cours">
            idcours : {{inf.cours.idcours}}<br>
            code : {{inf.cours.code}}<br>
            intitule : {{inf.cours.intitule}}
          </div>
          <div *ngIf="inf.cours==null">
            INCONNU
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </ng-container>
  <ng-template #inconnu>
    INCONNU
  </ng-template>
</ng-container>
